<a name="top_of_page"></a>

<hr/>
<div id="biohead">
<table border="1">

<tr>

<td><center><image src="images/gtr114.gif"></td>

<td><img src="images/20.jpg"width="625"height="130"></td>

<td><image src="images/gtr114.gif"></center></td>

</tr>

</table>
</div>

<hr/>
<div id="biotext"> 
<br>
<h1>Biography</h1>
<br>

<br>

Dirkie van Staden is a solo Classical Guitarist from Bellville, Cape Town. 

He started playing the guitar at the ages of 6 and is a former student of Prof Vidius Archer and Dietrich Wagner.  Dirkie majored in solo performance on 

classical guitar and want to further his post-graduate studies in South Africa and abroad.  He plays various different instruments 

(i.a. classical guitar, euphonium, trombone, tuba, piano, etc.) in which he plays the practical examinations of Unisa, Trinity College of London and The Royal Schools of Music.  Dirkie's ultimate goal, is to have a successful international career as a classical guitarist.  His guitar artistry has been broadcasted several times on the Television ñ programme Ouverture, on Kyk-net (DSTV).  


<br/>

<br/>
Dirkieís prizes, awards and highest examinations passed (guitar and euphonium):

In 1999, at the age of 14 years, Dirkie passed the Trinity Performerís Certificate in guitar, with honours (92%).  


1998      	~	Avril Kinsey National Guitar Competition of South Africa ~ Overall 3rd  prize.

1999      	~ 	ATKV Prelude National Music Competition ~ Special Merit Award and semi-finalist. 

1999,2001,2002 ~  Bellville Academy National Music Festival ~ Finalist and Best guitarist.  

2000-2004   ~	Tygerberg International Eisteddfod ~ 5 years in a row, Best Guitarist.(1st prize)

2002      	~ 	Stellenbosch and Western Cape Eisteddfod ~ Best Guitarist.

2003      	~ 	ABSA National Youth Music Competition: Category Runnerñup and special prize for the 

best performance of a South African composition.  (3rd prize)

2003            ~ 	Pass Unisa Grd 8 in 3 instruments, i.e. Guitar (honours), euphonium (HM) and piano.  

Received an invitation for guitar to the South African National Music Bursary Competition.

1999-2003   ~	VMA~Guitar Academy (Dr V Archer) ~  Overall Best Guitar student.

2004,2005 	~ 	Dirkie appeared several times on the Television-program Ouverture on Kyknet

2004      	~ 	South African National Music Bursary Competition for Unisa Grd 8 ~ Finalist.


2002		~	Bellville Academy National Music Festival ~  Participation with euphonium.

2003            ~	1st position in the National Senior Certificate Examination of the Western Cape Department of Education, for Music Performance (2nd instrument, 95%).

2003		~	Pass Unisa Grd 8 (HM).

2004      	~ 	National Youth Symphonic Wind Orchestra ~ Principal euphonium player.

<br/>

<br/>

Dirkie had masterclasses with international recognized South African guitarists Avril Kinsey, James Grace, 

Abri Jordaan and Michael Hoole, with other SA ñ guitarists Charl Lamprechts and Elspeth Jack, as well as with the famous Portugese guitarist Pedro Rodriguez.  

<br/>

<br/>

Dirkie performs regularly at formal music occations and concerts, solo concerts, weddings, wine estates and -cellars, hotels, private and farewell functions and he also does background recitals and music at restaurants, coffee shops, media launches and various other occations.  He has been invited several times to play at gala-evenings, important and prestige functions i.a. the annual prize giving ceremony of the Western Cape  Department of Sport and Cultural Affairs.  Dirkie also does guitar accompaniment for singers.  He performed with South African singer Marica Otto.  On another note, Dirkie entered the KKNK 2006 in Oudtshoorn and he is also going to enter the Aardklop National Arts Festival in Portchefstroom.

<br/>

<br/>

Dirkie is an experienced soloist and other performances include venues like, the V&A Waterfront, the Castle 

of Good Hope in Cape Town, several performances throughout South Africa, i.a. in the Baxter Theatre in Cape Town, the Stellenbosch Festival, the Endler and Fismer Halls in Stellenbosch, the ouditoriums of the Universities of Port Elizabeth and Pretoria, as well as the ZK ñ Mathews ouditorium at the UNISA main building.  Dirkie was invited by the company Inside Track South Africa (in collaboration with VOLVO Car South Africa) to perform at the media launch of a new car in 2005.  This company also invited him to perform on a ìVolvo Ocean Cruiseî in January 2006.

<br/>

<br/>

Dirkie want to record his Debut CD within the next two years.  He recently recorded with the new Fidentia 

South African National Youth Choir (FSANYC), for their debut CD (Christmas Carols).  He has also done video recordings with the FSANYC (together with Nationally acclaimed South African gospel singer JABU)

for the SABC.  In 2003, he recorded for Kyk-net, on DSTV.

<br/>

<br/>

At age 15, he started to teach the guitar from home.  Currently, he offers private guitar tuition in Stellenbosch and Bellville.  Dirkie will be opening his own private guitar academy in 2006.  He set up the guitar syllabus for the Tygerberg International Eisteddfod 2005.  

<br/>

<br/>

Except for his career as a guitarist, Dirkie also has a great interest in orchestral music (especially symphonic windbands) and he would like to further his studies later in conducting.  In 1999 he toured Europe (Switzerland and Austria) as principal euphonium player in the Bellville High School Symphonic Windband where they won 2nd prize in the 3. Welt Jugendmusik Festival  International Competition for Symphonic Windbands.

<br/>

<br/>

As principal euphonium player, Dirkie played in various wind orchestras i.a. the National Youth Symphonic Wind Orchestra, the Hugo Lambrechts Symphonic Windband, the Symphonic Windbands of the Universities of Stellenbosch and Cape Town, the Bellville and DF Malan High Schools Symphonic Windbands.  Dirkie will be one of the euphonium players in the WindWorx Symphonic Wind Orchestra (conducted by Sean Kierman).  He also played trombone in the Bellville High School Symphonic Windband.

<br/>

<br/>

Dirkie has a long time connection and involvement with the Hugo Lambrechts Music Centre and their orchestras.  He is the principal euphonium player of the Hugo Lambrechts Symphonic Windband, conducted by Leon Hartshorne, which will be touring Europe (Spain, Italy, Switzerland, etc.) in June and July 2006.  The Hugo Lambrechts Symphonic Windband  won 1st prize at the Tygerberg Fanfare International Competition for Orchestras in 2004.  

<br/>

<br/>

On another note, Dirkie is also interested in composition.  He recently composed a piece for Symphony Orchestra in two movements, 1 ñ Sparientale and 2 ñ Divasta.

<br/>

<br/>

Except for teaching the guitar, Dirkie will also be teaching brass instruments next year.  He will be part time student ñ lecturer in brass instruments as part of the B-Mus Certificate Course at the University of Stellenbosch in 2006.

<br>
</div>
<p> <center><a href="#top_of_page">Top of Page</a><br>

<%= link_to "Home", root_path %>

<%= link_to "Photo Gallery", photogallery_path %>

<%= link_to "Music", music_path %>

<%= link_to "Videos", videos_path %>

<%= link_to "Contact", contact_path %></center>

</p> 

<hr/>

<br> 

<center><image src="images/notes38.gif"></center>

<br/>

<br/>