<hr>

<center><table border="1">

<tr>

<center><td align="center"><image src="images/images.jpg" Width="81" height ="125"></td>

	<td align="center"><img src="images/20.jpg" height ="125"></td>

	<td align="center"><image src="images/images.jpg"Width="81" height ="125" ></td></center></a>

</tr>

</table>

</center>

<b><u>

<center><hr>Dirkie's contact details for performances & concerts:</center></u></b>

</font><br>

<center>

<ul>

	<li>Formal Music Occations & Concerts</li>

	<li>Solo Concerts & Recitals</li>

	<li>Weddings</li>

	<li>Private & Farewell functions</li>

	<li>Social Functions</li>

	<li>Wine Estates</li>

	<li>Restaurants</li>

	<li>Background Music & Recitals</li>

</ul></center>

<br>

<br>

<center>Contact: Cell    +27 (0) 734204170

<br>

<br>

<a href="mailto:dirkievanstaden@gmail.com">Send E-mail</a>

<br>

<br>
</center>
<p> <center><a href="#top_of_page">Top of Page</a><br>

<%= link_to "Home", root_path %>

<%= link_to "Biography", biography_path %>

<%= link_to "Photo Gallery", photogallery_path %>

<%= link_to "Music", music_path %>

<%= link_to "Videos", videos_path %>|</center>

<hr/>

</p>

<br>

<center><image src="images/notes38.gif"><center/>

</body>

</html> 