<div id="head">Dirkie van Staden South African Guitarist | Website Under Construction</div>
<div id="foto"><img src="../images/Dirkie.jpg" alt="Dirkie foto" /></div>
<div id="foto2"><img src="../images/6331.jpg" alt="Dirkie foto" /></div>
<div id="foto3"><img src="../images/IMG_6282e1.jpg" alt="Dirkie foto" /></div>
<div id="links">
<%= link_to "Biography", biography_path %>
<%= link_to "Photo Gallery", photogallery_path %>
<%= link_to "Music", music_path %>
<%= link_to "Videos", videos_path %>
<%= link_to "Contact", contact_path %>
</div>