<hr>

<br>

<br>

<center><image src="images/guitar 30.jpg"></center>

<p><center><font color="white" size="3">



<object id="Player1" width="250" height="65"

	classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6">

	<param name="URL" value="0001_09.mp3""9401_12.mp3">

	<param name="autoStart" value="false">

	<param name="playCount" value="1">

</object>

<br><font color="white" size="4">Nosata Ongolamina, R Kas.</center></p>

<p><center><a href="#top_of_page">Top of Page</a><br>

<%= link_to "Home", root_path %>

<%= link_to "Biography", biography_path %>

<%= link_to "Photo Gallery", photogallery_path %>

<%= link_to "Videos", videos_path %>

<%= link_to "Contact", contact_path %>

</center>

<hr/>

<center><image src="images/etabsforum.gif"width="80"height="80"></center>

</p><br>