<hr/>
<div id="photohead">

<table border="1">

<tr>

<center>

<td><image src="images/aninotes62.gif"></td>

<td><img src="images/stringless guitar e9.jpg"></td>

<td><image src="images/aninotes62.gif"></td></center>

</tr>

</table>
</div>

<hr/>

<div id="phototext"> 
<br>
<h1>Photo Gallery</h1>
<br>

<table border="1">

<tr>

<td><img src="images/13.jpg" width="220" height="210"></td>

<td><img src="images/14.jpg" width="220" height="210"></td>

<td><img src="images/1.jpg" width="220" height="210"></td>

<td><img src="images/6.jpg" width="220" height="210"></td>

<td><img src="images/9.jpg" width="220" height="210"></td>

<td><img src="images/dvs 4.1.jpg" width="220" height="210"></td>

<td><img src="images/5.jpg" width="220" height="210"></td>

<td><img src="images/MVC-005F.JPG" width="220" height="210"></td>

<td><img src="images/15.jpg" width="220" height="210"></td>

<br/>

</tr>

</table>

<br>

<p> <center><br>

<%= link_to "Home", root_path %>

<%= link_to "Biography", biography_path %>

<%= link_to "Music", music_path %>

<%= link_to "Videos", videos_path %>

<%= link_to "Contact", contact_path %></center>

</p> 

<br>

<hr/>

<br/>

<center><image src="images/notes38.gif"></center>

