<div id="head">DigaRitmo - Awaken KKNK 2011</div>
<div id="digavideo">
<iframe width="853" height="480" src="http://www.youtube.com/embed/8yGtX6fupqI" frameborder="0" allowfullscreen></iframe>
</div>

<div id="links"> <center><a href="#top_of_page">Top of Page</a><br>

<%= link_to "Home", root_path %>

<%= link_to "Biography", biography_path %>

<%= link_to "Photo Gallery", photogallery_path %>

<%= link_to "Music", music_path %>

<%= link_to "Contact", contact_path %></center>

<hr/>

</div>